<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title th:text="${titulo}"></title>
   </head>
   <body 
	 style="background-color:LightYellow;
	 font-family:monospace;
	 color:DarkOliveGreen;
	 text-align:center;">
      <H1 th:text="${titulo}"></H1>
      <H3 th:text="${info1}"></H3>
      <H6 th:text="${info2}"></H6>
	  <H6 th:text="${info3}"></H6>
      	<form action="/" method="post">
      		LOGIN: 
      		<br>
      			<input 
      				type=text 
      				name=nombre>
      		<br>
      		<br>
      		PASSWORD: 
      		<br>
      			<input 
      				type="password" 
      				name=password>
      		<br>
      		<br>
      		<input type=submit name=submit value="Login">
      	</form>
   </body>
</html>